* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
  color: 'black';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#editar:hover {
  transform: scale(1.20);
  transform-origin: center;
  color: #A4161A;
}

#crear {
  transform: scale(1.20);
  transform-origin: center;
  color: #A4161A;
  border-left-color: rgb(164, 22, 26);
}

#submit:hover {
  background: rgb(164,22,26);
  transform: scale(1.05);
  transform-origin: center;
}

#submit {
  background: #0B090A;
}

