* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
  color: 'black';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#crear {
  color: #a4161a;
}

#submit:hover {
  background: rgb(164,22,26);
  transform: scale(1.05);
  transform-origin: center;
}

#submit {
  background: #0B090A;
}

.btn-img-upload {
  cursor: pointer;
  background: #ffffff;
  transition: 0.2s;
}

.btn-img-upload:hover {
  transform: scale(1.05);
  background: #a4161a;
  opacity: 0.60;
  color: rgb(255,255,255);
}