/* 
Estilos del cuerpo modificacion
 */

body{
      margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto; 
    background-color: #0B090A;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
  Contenedor principal 
*/
.login-container{
    width: 950px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    background: #111;
    box-shadow: 0px 0px 25px rgba(255,0,0,0.3);
}

/*
 Lado Izquierdo donde ira la imagen y texto
*/
.left-side{
    position: relative;
    background-image: url("../imagenes/logos/Ejemplo-Login.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
}

/* Capa Oscura para la imagen */
.overlay{
    position: absolute;
    inset: 0;

    background:
    linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        rgba(255,0,0,0.15)
    );
}

/* Modificacion del texto */
.brand-text{
    position: relative;
    z-index: 2;
    color: white;
}
.brand-text h1{
    color: #ff1a1a;

    font-size: 3.2rem;
    font-weight: bold;
}

.brand-text p{
    font-size: 1.2rem;
    letter-spacing: 2px;
}

/* 
Lado derecho donde esta el Login
*/

.right-side{
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cajita que estara el login */
.login-box{
    width: 80%;
}

/* titulo de inicio de sesion */
/* Agrego la homogeneizado en el titulo */
.login-box h2{
    color: #BA181B;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* parte de los inputs */
.form-control{
      height: 50px;
    background: #161A1D !important;
    border: 1px solid #161A1D !important;
    color: white !important;
}

.form-control::placeholder{
    color: #888;
}

.form-control:focus{
    background: #161616;
    color: white;

    border-color: #ff1a1a;

    box-shadow: 0 0 10px rgba(255,0,0,0.4);
}

/* Botones homogeneizados en el login y registro */
.login-btn, .registro-btn {
    height: 35px;
    background: #BA181B;
    border: none;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.login-btn:hover, .registro-btn:hover {
    background: #E5383B;
    color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(229, 56, 59, 0.4);
}

/* Placeholder homogeneizado */
.form-control::placeholder {
    color: #B1A7A6 !important;
}

/* Los links */
.forgot{
    text-align: center;
}

.forgot a{
    color: #aaa;
    text-decoration: none;
}

.forgot a:hover{
    color: #ff1a1a;
}

/* 
Ya por ultimo hacerlo responsivo
*/

@media(max-width:768px){

    .login-container{
        width: 95%;
        height: auto;
    }

    .left-side{
        height: 250px;
    }

    .right-side{
        padding: 40px 20px;
    }

}
.error-message {
    display: none;
    background: #D3D3D3;
    border: 1px solid #A4161A;
    color: #a4161a;
    padding: 10px 14px;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(229, 56, 59, 0.25);
}

/* Input con error */
.input-error {
    border: 1px solid #A4161A !important;
    box-shadow: 0 0 10px rgba(229, 56, 59, 0.35) !important;
}

/* Ojo de contraseña igual que registro */
.input-group-text {
      background: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-left: none !important;
    cursor: pointer;
}

/* Para el botón de volver */

.volver-container {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.btn-volver {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.7;
}

.btn-volver img {
    width: 30px;
    height: auto;
    display: block;
}

.btn-volver:hover {
    opacity: 1;
    transform: translateX(-3px); /* Un pequeño brinco sutil hacia la izquierda */
}


